{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{coach.name}}{% endblock %}
{% block content %}
<div class="container position-relative">
    <div class="row">
        <div class="col-md-8">
            <div class="card-deck">
                <div class="card" style="width: 30rem">
                    {% if coach.image %}
                    <img src="{{coach.image.url}}" class="card-img-top" alt="..." style="object-fit: cover; height: 500px;">
                    {% else %}
                    <img src="static/main/image/загружено.jpg" class="card-img-top" alt="..." style="object-fit: cover; height: 500px;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{coach.name}}</h5>
                        <p class="card-text">Возраст : {{coach.age}}</p>
                        <p class="card-text">Специализация :  {{coach.qualification}}</p>
                        <p class="card-text">Опыт работы :  {{coach.experience}} лет</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"><br>
            <h2> Клиенты </h2>
                                {% for card in coach_cards %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{card.user.profile.name}}</h5>
                    <p class="card-text">Зал для занятия: {{card.gym}}</p>
                    <p class="card-text">Статус оплаты :
                                    {% if card.is_payed == False %}
                                        <span style="color: red;">Не оплачено</span> {% else %}
                                        <span style="color: green;">Оплачено</span>
                                    {% endif %}
                                </p>
                    <div class="schedule">
                        {% for entry in schedule %}
                        <div class="schedule-entry">
                            {{ entry.start }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><br>
                                {% endfor %}
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}