{% extends 'main/base.html' %}
{% block title %}Залы{% endblock %}
{% block hero %}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
{% for g in gym %}
<div class="card-deck">
  <div class="card">
    {% if g.image %}
                            <img src="{{g.image.url}}" class="card-img-top" alt="..."
                                style="object-fit: cover; height: 700px;">
                        {% else %}
                            <img src="static/main/image/Зал.jpg" class="card-img-top" alt="..."
                                style="object-fit: cover; height: 700px;">
                        {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{g.name}}</h5>
      <p class="card-text">Тренировки :{% for workout in g.workouts.all %}<b>{{ workout }}</b> {% endfor %}</p>
        <p class="card-text">Цена : {{g.price}} рублей </p>
    </div>
  </div>
</div><br>
{% endfor %}
    </div>
</section>
{% endblock %}
{% block content %}
<br>
{% for tr in tren %}
<div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
<div class="card-deck">
  <div class="card">
    {% if tr.image %}
                            <img src="{{tr.image.url}}" class="card-img-top" alt="..."
                                style="object-fit: cover; height: 700px;">
                        {% else %}
                            <img src="static/main/image/Зал.jpg" class="card-img-top" alt="..."
                                style="object-fit: cover; height: 700px;">
                        {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{tr.name}}</h5>
      <p class="card-text">Тренировки :{% for workout in tr.workouts.all %}<b>{{ workout }}</b> {% endfor %}</p>
        <p class="card-text">Цена : {{tr.price}} рублей </p>
    </div>
  </div>
</div><br>
</div>
{% endfor %}
{% endblock %}
