{% extends 'main/base.html' %}
{% block title %}Fintess center Spirit{% endblock %}
{% block hero %}
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="50">
      <h1>Усталость это иллюзия!</h1>
      <a href="#about" class="btn-get-started scrollto">Let's go</a>
    </div>
  </section><!-- End Hero -->
{% endblock %}
{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="static/assets/img/coach.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Добро пожаловать в фитнесс-центр "Spirit"!</h3>
            <p class="fst-italic">
              Приведите свое тело в гармонию с душой вместе с нами. В "Spirit" мы создали пространство, где каждый шаг ведет к заботе о вашем здоровье, красоте и равновесии. Наша цель — вдохновить вас на достижение лучшей версии себя.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Персональный Подход<br>
Наши опытные тренеры готовы создать индивидуальную программу, соответствующую вашим целям и физической форме. Независимо от того, вы новичок или опытный атлет, у нас есть место для каждого</li>
              <li><i class="bi bi-check-circle"></i> Разнообразие Тренировок<br>
"Spirit" предлагает широкий спектр тренировок, от энергичных групповых занятий до специализированных программ. Независимо от того, что вы предпочитаете — йогу, кардио, или силовые тренировки — у нас есть всё необходимое.</li>
              <li><i class="bi bi-check-circle"></i> Уютная Обстановка<br>
Наши современные залы оборудованы по последнему слову техники, чтобы обеспечить вам максимальный комфорт во время тренировок. Поддайтесь атмосфере "Spirit" и наслаждайтесь каждым моментом.</li>
            </ul>
            <p>
             Присоединяйтесь к Нам!
"Spirit" — это не просто фитнесс-центр, это образ жизни. Здесь вы найдете не только тренировки, но и сообщество единомышленников, готовых поддержать вас на каждом этапе.
Не ждите идеального момента. Создайте его с "Spirit" прямо сейчас!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Галерея</span>
          <h2>Галерея</h2>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="50">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <img src="static/assets/img/portfolio/gallery1.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="static/assets/img/portfolio/gallery2.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="static/assets/img/portfolio/gallery3.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="static/assets/img/portfolio/gallery4.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="static/assets/img/portfolio/gallery5.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="static/assets/img/portfolio/gallery11.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="static/assets/img/portfolio/gallery7.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endblock %}